
:root {
  --decor-color: teal;
  --background-color: rgb(42, 49, 66);
  --text-color: white;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1 {
  font-size: 40px;
  font-family: gravesend-sans, sans-serif;
  font-style: normal;
  font-weight: 300;
  padding-top: 20px;
  padding-bottom: 10px;
  margin: 0;
}

h2 {
  font-size: 55px;
  font-family: gravesend-sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  scroll-behavior: smooth;
  text-decoration: none;
}

/* Light Theme */
.light-theme {
  background-size: 100%;
}

.light-theme h1{
  text-align: center;
}


.light-theme nav {
  background-color: rgb(58, 95, 143);
}

.light-theme nav a{
  color: rgb(255, 255, 255);
}

.light-theme .bias-category {
  color: var(--decor-color)
}

.light-theme .bias-source {
  color: var(--decor-color);
}

.light-theme .bias-headline {
  color: black;
}


/* Dark Theme */
.dark-theme {
  background-position: 50% 50%;
  background-size:100%;
  color: white;
}

.dark-theme nav {
  background-color: rgb(25, 31, 59);
}

.dark-theme nav a{
  color: rgb(255, 255, 255);
}

.dark-theme #scroll{
  color:white;
  border: 1px solid whie;
}

.dark-theme #trending{
  background-color: transparent;
}

.dark-theme .bias-headline {
  color: white;
}

.dark-theme .bias-category {
  color: var(--decor-color)
}

.dark-theme .bias-source {
  color: var(--decor-color);
}


/* Blue Theme */
.blue-theme {
  background-color:rgb(42, 49, 66);
  background-size: 100%;
  color: white;
}

.blue-theme nav {
  background-color: rgb(36, 36, 36);
}

.blue-theme h1{
  text-align: center;
}

.blue-theme #recent-articles{
  background-image: url(./assets/gradient.jpg);

}

.blue-theme .bias-category {
  color: var(--decor-color)
}

.blue-theme .bias-headline {
  color: white;
}

.blue-theme .bias-source {
  color: var(--decor-color)
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
