@import url("https://use.typekit.net/kdg1ffy.css");

.article {
    margin: auto;
    max-width: 700px;
}

.article-title, .article-info, .article-date {
    font-family: questa-grande, serif;
    font-weight: 400;
    font-style: normal;
}

.article-image {
    padding-top: 10px;
    max-width: 700px;
    height: auto;
}

.article-body {
    padding-top: 10px;
    font-family: questa-grande, serif;
    font-weight: 500;
    font-style: normal;
    text-align: justify;
}

.article-url {
    padding-top: 70px;
    font-family: questa-grande, serif;
    font-weight: 900;
    font-style: normal;
}