.categories-page-title {
    font-size:70px;
    font-weight: 300;
    color: white;
    padding-bottom: 25px;
}

.categories-grid {
    display: flex;
    flex-wrap: wrap;
}

.categories-grid-item {
    flex:50%;
    max-width: 50%;
}

.categories-grid-item a {
    text-decoration: none;
    position: relative;
}

.categories-grid-item img {
    width: 100%;
    vertical-align: middle;
    margin-top: 0px;
    min-height: 480px;
}

.categories-grid-item h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    font-size:70px;
    font-weight: 600;
    color: white;
    text-shadow: 0px 0px 6px rgb(102, 102, 102);
}

.categories-grid-item img:hover {
    opacity: 80%;
}