.compare-articles-page {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-self: center;
}

.grids-container {
  display: flex;
}
.compare-article-thumb {
  width: 200px;
  height: 150px;
  margin: 0% 1%;
  padding: 15px;
  background-position: 50% 50%;
  background-size: cover;
}

.articles-grid {
  
  width: 500px;
  font-family: gravesend-sans, sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 40px;
  padding-right: 40px;
}

.article-container {
  display: flex;
  margin: 20px;
  align-content: center;
  align-self: center;
}

.article-grid :hover {
  opacity: 80%;
}
