@import url("https://use.typekit.net/kdg1ffy.css");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.popup-inner{
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: auto;
    margin: auto;
    border-radius: 10px;
    background: white;
}

.popup-title{
    font-family: bebas-neue-by-fontfabric, sans-serif;
    font-size: 45px;
    margin-bottom: 0px;
    border-bottom: 3px solid teal;
    color: rgb(32, 32, 32);
}

.popup-body{
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1rem;
    color: rgb(32, 32, 32);
    
}

.popup-buttons{
    border-top: 1px solid rgb(230, 230, 230);
    display: flex;
}