
  @import url("https://use.typekit.net/kdg1ffy.css");
  body {
    background-color: #6f858c;
}
  .box {
    border: 1px solid black;
    width: 320px;
    display:inline-block;
    margin: 1%;
    font-family: bely, serif;
    font-weight: 500;
    font-style: normal;
  }
  .homeHeader {
    font-size: xx-large;
    font-family: bely-display, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.904);
  }
  .title {
    color: rgb(24, 22, 22);
    border: 1px solid red;
    padding: 1%;
  }

  #link {
    color: rgb(24, 22, 22);
  }
  
  .title :hover {
    color: blue;
  }
  .description {
    border: 1px solid green;
    padding:2%;
  }
  .thumbnail {
    max-width: 100%;
    height: auto;
  }
  
