
  @import url("https://use.typekit.net/kdg1ffy.css");

  h1 {
    font-size: xx-large;
    font-family: bely-display, sans-serif;
    font-style: normal;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  body {
    background-color: #5b6264;
    color: rgba(255, 255, 255, 0.822);
}
  .trending-box {
    background-color:#6f858c;
    width: 30%;
    display:inline-block;
    vertical-align: top;
    font-family: neue-haas-unica;
    font-weight: 600;
    font-style: normal;
    margin: 1% 0.75%; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .trending-title {
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .trending-title :hover{
    color: #c0c9be;
  }
  .trending-description {
    display: flex;
    border: 1px solid transparent;
    height: 25px;
    justify-content: center;
    align-items: center;
  }
  .trending-thumbnail {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }




.articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

  .default-box {
    width: 250px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content:stretch;
    align-items: stretch;
    align-content: stretch;
    font-family: neue-haas-unica;
    font-weight: 500;
    font-style: normal;
    margin: 1% 0.75%; 
    flex-grow: 1;
    font-size: small;
  }

  .default-title {
    text-transform: uppercase;
    display: flex;
    font-family: ff-basic-gothic-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .default-box :hover {
    color: #c0c9be;
  }
  .default-box a:hover {
    color: white !important;
  } 
  .default-thumbnail :hover {
    color: white;
  }
  .default-description {
    display: flex;
    height: 25px;
    justify-content: center;
  }
  .default-thumbnail {
    width: 100%;
    height: auto;
  }

  .about-picture {
    margin: 0px;
    height: 220px;
    width: auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .container {
    width: 250px;
    height: 300px;
    display: inline-block;
    vertical-align: top;
    
  }
  
  .center-category {
    position: relative;
    top: -40%;
    font-weight: bold;
    
  }
