
  @import url("https://use.typekit.net/kdg1ffy.css");

  h1 {
    font-size: 35px;
    font-family: bely-display, sans-serif;
    font-style: normal;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 0;
  }

  body {
    background-color:#b88658;
    color: rgba(255, 255, 255, 0.822);
}

.trending-class {
  background-color: rgb(134, 65, 68);
}
.trending-articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

  .trending-box-container {
  display: grid;
  font-family: neue-haas-unica;
  margin: 1% 0.75%; 
  flex-grow: 1;
  width: 300px;

  }
  .trending-box {
    color: rgba(255, 255, 255, 0.822);
    text-decoration: none;
    display: grid;
    flex-grow: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .trending-title {
    pointer-events: none;
    text-transform: uppercase;
    font-family: ff-basic-gothic-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 13px;
    vertical-align: middle;
    padding: 5px;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .trending-thumbnail {
    pointer-events: none;
    width: 100%;
    height: auto;
  }


.articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.default-box-container {
  border: 4px solid #ce8c4f;;
  display: grid;
  font-family: neue-haas-unica;
  margin: 1% 0.75%; 
  flex-grow: 1;
  width: 250px;

}
.default-box {
  color: rgba(255, 255, 255, 0.822);
  text-decoration: none;
  display: grid;
  flex-grow: 1;
}

  .default-box-container :hover {
    cursor: pointer;
    opacity: 0.5;
    color: rgba(255, 255, 255, 0.822);
    text-decoration: none;
    transition: 0.5s;
    transform: translate3d(0px, -4px, 0px);
  }

  .default-title {
    pointer-events: none;
    text-transform: uppercase;
    font-family: ff-basic-gothic-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 13px;
    vertical-align: middle;
    padding: 5px;
    
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .default-box :hover {
    color: #c0c9be;
  }
  
  .default-thumbnail :hover {
    color: white;
  }

  #headline {
    vertical-align: middle;
    margin: 0 auto;
  }

  .default-thumbnail {
    pointer-events: none;
    width: 100%;
    height: auto;
  }

  .about-picture {
    margin: 0px;
    height: 220px;
    width: auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .container {
    width: 250px;
    height: 300px;
    display: inline-block;
    vertical-align: top;
    
  }
  
  .center-category {
    position: relative;
    top: -40%;
    font-weight: bold;
    
  }
