@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
body {
    margin: 0;
}

:root{
    --bg: rgb(80, 78, 78);
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar a {
    color: var(--text-color);
    text-decoration: none;
}

.navbar {
    height: 60px;
    background-color: var(--bg);
    display: flex;
    font-family:'IBM Plex Mono','Inconsolata', monospace;
    width: 100%;
}

.navbar-left {
    display: flex;
    justify-content: flex-start;
}

.navbar-logo {
    max-width: 30px;
    margin-left: 5px;
    align-self: center;
}

.navbar-right {
    flex: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.navbar-categories, .navbar-compare{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    color: white;
}

.navbar-dropdown-arrow {
    padding-left: 2px;
    max-height: 7px;
}

.navbar-compare-dropdown {
    position: absolute;
    display: none;
    top: 68px;
    width: 110px;
    transform: translateY(-10%);
    background-color: var(--bg);
    opacity: 95%;
}

.navbar-category-dropdown {
    position: absolute;
    display: none;
    top: 68px;
    width: 140px;
    transform: translateY(-4%);
    background-color:var(--bg);
    opacity: 95%;
}

.navbar-dropdown-item {
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 15px;
    pointer-events: all;
}

.navbar-search-bar {
    background: white;
    border: none;
    border-radius: 2px;
    height: 20px;
    width: 150px;
    align-self: center;
    font: inherit;
} 

.navbar-search-icon {
    max-width: 25px;
}

.navbar-color-mode-icon {
    max-height: 25px;
    margin-bottom: 5px;
    cursor: pointer;
    align-self:center;
}

.navbar-search-button{
    font-family:inherit;
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-horizontal-line {
    width: 140px;
    height: 1px;
    background-color: rgb(219, 216, 216);
}

.navbar-link{
    padding: 15px;
}

.navbar-category-dropdown a:hover {background-color: #194769;}
.navbar-compare-dropdown a:hover {background-color: #194769;}

.navbar-categories:hover .navbar-category-dropdown {display: block}
.navbar-compare:hover .navbar-compare-dropdown {display: block}