.spectrum-subtitles, .spectrum-percentages{
    display: flex;
    list-style: none;
    font-size: 15px;
    font-family: 'IBM Plex Mono','Inconsolata', monospace;
    font-weight: 400;
}

.spectrum-percentage-left{
    flex: 50%;
    text-align: left;
    margin-left: -40px;
}

.spectrum-percentage-right{
    flex: 50%;
    text-align: right;
}

.spectrum-left {
    justify-content: flex-start;
    flex: 33%;
    margin-left: -40px;
    text-align: left;
}

.spectrum-middle {
    justify-content: center;
    flex: 33%;
}

.spectrum-right{
    justify-content: flex-end;
    flex: 33%;
    text-align: right;
}

.spectrum2{
    position: relative;
    background-image: linear-gradient(to right, blue, grey, red);
    min-height: 40px;
}

.spectrum-ball2{
    position: absolute;
    height:39px;
    width:39px;
    background-color: transparent;
    border-radius: 50%;
}
.spectrum-ball3{
    position: absolute;
    height:39px;
    width:39px;
    background-color: white;
    border-radius: 50%;
    margin-left: -19px;
}

.spectrum-ball2:hover .spectrum-percentage2{
    display:block;
}

.spectrum-ball2:hover{
    z-index: 100;
}

.spectrum-percentage2{
    display: none;
    margin-left: -10px;
    margin-top: 18px;
    position: relative;
    bottom: 100%;
    font-size: 15px;
    font-family: 'IBM Plex Mono','Inconsolata', monospace;
    font-weight: 400;
}